body{
    margin:0;
    font-family:'Inter', sans-serif;
    background: radial-gradient(circle at top,#1e293b,#0f172a);
    color:white;
    text-align:center;
}

.hidden{ display:none !important; }

/* CENTER FIX */
#game{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* ORB */
#click{
    width:220px;
    height:220px;
    border-radius:50%;
    border:none;
    background:linear-gradient(45deg,#3b82f6,#06b6d4);
    margin:auto;
}

/* SHOP TEXT FIX */
.card{
    background:#1e293b;
    padding:20px;
    border-radius:16px;
    cursor:pointer;
    font-weight:800;
}

/* PRICE SMALL + LIGHT */
.price{
    font-size:11px;
    color:#cbd5e1;
    opacity:0.6;
}

/* POPUP */
.popup{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.6);
}

.popupBox{
    background:#0f172a;
    padding:20px;
    border-radius:15px;
    width:300px;
}

/* LIST */
ul{ list-style:none; padding:0; }

li{
    margin:10px;
    padding:12px;
    background:#1e293b;
    border-radius:10px;
}
