<!DOCTYPE html>
<html lang="de">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Clicker Game</title>

<link rel="stylesheet" href="/static/style.css">

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">

</head>

<body>

<!-- NAME -->
<div id="nameScreen">

<h1>👤 Name</h1>

<input id="nameInput" placeholder="Dein Name">

<button onclick="startGame()">Start</button>

</div>

<!-- TOPBAR -->
<div class="topbar hidden" id="ui">

<button onclick="show('game')">🎮</button>
<button onclick="show('shop')">🛒</button>
<button onclick="show('leaderboard')">🏆</button>

</div>

<!-- GAME -->
<div id="game" class="menu hidden">

<div id="coins">0</div>

<div id="power">⚡ 1 pro Klick</div>

<button id="click"></button>

</div>

<!-- SHOP -->
<div id="shop" class="menu hidden">

    <h1>🛒 SHOP</h1>

    <h2>🎨 Skins</h2>

    <div class="shopGrid">

        <div class="card" id="blueSkin" onclick="selectSkin('#3b82f6', 'blueSkin')">
            🔵 Blau
        </div>

        <div class="card" id="redSkin" onclick="buySkin('redSkin', 50, '#ef4444')">
            🔴 Rot<br><span>50 Coins</span>
        </div>

        <div class="card" id="greenSkin" onclick="buySkin('greenSkin', 150, '#22c55e')">
            🟢 Grün<br><span>150 Coins</span>
        </div>

        <div class="card" id="goldSkin" onclick="buySkin('goldSkin', 300, 'gold')">
            🟡 Gold<br><span>300 Coins</span>
        </div>

        <div class="card" id="diamondSkin" onclick="buySkin('diamondSkin', 500, '#38bdf8')">
            💎 Diamant<br><span>500 Coins</span>
        </div>

    </div>

    <h2>⬆️ Upgrades</h2>

    <div class="shopGrid">
<div class="card" onclick="buyUpgrade(getUpgradePrice(50),1)">
+1 Klick<br><span id="u1"></span>
</div>

      <div class="card" onclick="buyUpgrade(getUpgradePrice(150),5)">
+5 Klick<br><span id="u2"></span>
</div>
<div class="card" onclick="buyUpgrade(getUpgradePrice(500),10)">
+10 Klick<br><span id="u3"></span>
</div>

    </div>

</div>

<!-- LEADERBOARD -->
<div id="leaderboard" class="menu hidden">

<h1>🏆 Leaderboard</h1>

<ul id="list"></ul>

</div>

<script src="/static/script.js"></script>

</body>
</html>
